<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
  <div class="main-div">
    <mat-card class="center width50" >
      <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="reiniciarForm()" >
        <mat-card-content>
          
            <dio-input-text titulo="Titulo*" controlName="titulo" [formGroup]="cadastro"></dio-input-text>
            <dio-input-text titulo="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></dio-input-text>
            
            <dio-input-date titulo="Data de Lançamento*" controlName="dtLancamento" [formGroup]="cadastro"></dio-input-date>
            
            
            <dio-input-textarea titulo="Descrição" controlName="descricao" [formGroup]="cadastro"></dio-input-textarea>
            <dio-input-number min="0" max="10" step="0.1" titulo="Nota IMDb*" controlName="nota" [formGroup]="cadastro"></dio-input-number>
            <dio-input-text titulo="Link IMDb" controlName="urlIMDb" [formGroup]="cadastro"></dio-input-text>
            <dio-input-select titulo="Gênero" controlName="genero" [formGroup]="cadastro"></dio-input-select>
            

          </mat-card-content>

          <mat-card-actions>
            <button color="warn" type="reset" mat-raised-button>Cancelar</button>
            <button color="accent" type="submit" mat-raised-button>Salvar</button>
          </mat-card-actions>
        </form>
    </mat-card>
  </div>
