<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput 
        type="number"
        [placeholder]="titulo" 
        [name]="controlName" 
        [formControlName]="controlName"
        [min]="minimo" 
        [max]="maximo" 
        [step]="step"
    >
      <mat-error *ngIf="validacao.hasErrorValidar(formControl,'required')">Campo Obrigatório</mat-error>
      <mat-error *ngIf="validacao.hasErrorValidar(formControl,'min')">Campo precisa ser maior que 0</mat-error>
      <mat-error *ngIf="validacao.hasErrorValidar(formControl,'max')">Campo precisa ser menor ou igual a 10</mat-error> 
  </mat-form-field>
</div>